body{
    text-align: center;
    color:  rgb(236, 236, 236);
}
button{
    display: block;
   margin: 0 auto;
   margin-bottom: 10px;
   min-width: 300px;
   background-color: rgb(74, 236, 254);
   border: none;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   font-size: 16px;
   color: rgb(9, 0, 80);
   transition:all ease 300ms 0s;
   
}

button:hover{
    background-color: rgb(21, 158, 173);
}

.quiz__score{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% ,0);
    font-size: 30px;
    color: red;
}

.quiz__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.quiz__start,
.quiz__next{
    min-width: 100px;
    background-color: rgb(2, 121, 205);
    margin-top: 20px;
}

.quiz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

